﻿@{
    ViewBag.Title = "Cache Central";
}

@section headscripts {
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoRcNWC3sS7Mg4bqXxfC8qTPvCNMuKSoM&sensor=true">
    </script>
}

@section scripts{
    @Scripts.Render("~/bundles/googlemaps")
    @Scripts.Render("~/bundles/GeocacheCentralJS")
    <script>
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}


 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
@*          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>*@
          <a class="brand" href="#">@ViewBag.Title</a>
           @Html.Partial("_LoginPartial")
        </div>
      </div>
    </div>

@* Here are views for the javascript to show on info or errors *@
<div id="alert-station">
    <div id="form-info" class="alert alert-info" style="display: none">
        <button type="button" class="close">&times;</button>
        <strong>Heads up!</strong> <span id="form-info-text">Erm, lost my information, sorry.</span>
    </div>

    <div id="form-error" class="alert alert-error" style="display: none">
        <button type="button" class="close">&times;</button>
        <strong>Error!</strong> <span id="form-error-text">Unknown error. Sorry!</span>
    </div>
</div>

@* Main Div for google map *@
<div class="map-container">
    <div id="map-canvas"></div>
</div>

@* Function Buttons *@
<div class="footer">
    <div class="btn-group-wrapper">
        <div class="btn-group">
          <a role="button" id="goto-popover" class="btn btn-info" data-original-title="Go to Coordinates">Goto</a>
          <a role="button" id="search-popover" class="btn btn-info" data-original-title="Search for Geocache">Search</a>
          <a role="button" id="add-popover" class="btn btn-info" data-original-title="Add New Geocache">Add Geocache</a>
          <a role="button" id="expeditions-popover" class="btn btn-info" data-original-title="A Title 3">Expeditions</a>
        </div>
    </div>
</div>

@* Hidden forms that appear on menu selection *@
<div id="goto-popover-content" style="display: none">
    <form id="goto-form">
        <fieldset>
            <label>Enter Coordinates</label>
            <input class="input-block-level latitude" type="text" placeholder="Latitude" required>
            <input class="input-block-level longitude" type="text" placeholder="Longitude" required>
            <button id="goto-button" type="submit" class="btn btn-block">Go</button>
        </fieldset>
    </form>
</div>

<div id="search-popover-content" style="display: none">
    
    <form id="search-zip3-form">
        <label>Search by Zip Code</label>
        <div class="input-append">
            <input class="span2" id="zipForm" type="text" placeholder="ex. 37315">
            <button class="btn" type="submit">Go</button>
        </div>
    </form>
    <form id="search-state-form">
        <label>Search by State</label>
        <div class="input-append">
            <input class="span2" id="stateForm" type="text" placeholder="ex. MA / Massachusetts">
            <button class="btn" type="submit">Go</button>
        </div>
    </form>
    <form id="search-county-form">
        <label>Search by County</label>
        <div class="input-append">
            <input class="span2" id="countyForm" type="text" placeholder="ex. Berkshire">
            <button class="btn" type="submit">Go</button>
        </div>
    </form>
</div>

<div id="add-popover-content" style="display: none">
    <form id="add-form">
        <fieldset>
            <label>Enter Geocache Coordinates</label>
            <input id="add-latitude" name="Latitude" class="input-block-level latitude" type="text" placeholder="Latitude" required>
            <input id="add-longitude" name="Longitude" class="input-block-level longitude" type="text" placeholder="Longitude" required>
            <label>Enter Geocache Name</label>
            <input id="add-title" name="Title" class="input-block-level title" type="text" placeholder="Enter Geocache Name" required>
            <label>Enter Geocache Description</label>
            <textarea id="add-description" name="Description" class="input-block-level description" rows="4" placeholder="Enter Geocache Description, Hints, etc. (max 2000 characters)" required></textarea>
            <select id="add-difficulty-rating" name="DifficultyRating" class="input-block-level difficulty" title="Difficulty Rating" required>
                <option value="" disabled selected>Difficulty Rating...</option>
                <option value="1">Difficulty Level: 1</option>
                <option value="2">Difficulty Level: 2</option>
                <option value="3">Difficulty Level: 3</option>
                <option value="4">Difficulty Level: 4</option>
                <option value="5">Difficulty Level: 5</option>
            </select>
            <select id="add-size-rating" name="SizeRating" class="input-block-level size" title="Cache Size Rating" required>
                <option value="" disabled selected>Cache Size...</option>
                <option value="1">Size 1: Micro</option>
                <option value="2">Size 2: Small</option>
                <option value="3">Size 3: Regular</option>
                <option value="4">Size 4: Large</option>
                <option value="5">Other</option>
            </select>
            <button id="add-button" type="submit" class="btn btn-block">Submit</button>
        </fieldset>
    </form>
</div>

<div id="expeditions-popover-content" style="display: none">
    <p>TODO</p>
</div>

@*<div id="infobox-wrapper" style="display: none">
    <div class="infobox">
        <p><strong class="cache-name"></strong></p>
        <p class="cache-description"></p>
    </div>
</div>*@
