html, body  {
    height: 100%;
    margin: 0;
}

#map-canvas {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    
}

.navbar .nav > span {
  display: inline-block;
  padding-top: 8px;
  overflow: hidden;
  margin: auto 10px;
  color: #777777;
}

.navbar .nav {
  height: 45px!important;
}

.footer > .btn-group a {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.btn-group-wrapper {
    text-align:center;
}

#map-canvas img { 
    max-width: none; 
}

/*.popover-content {
   height: 250px;
   width: 250px;
   overflow: auto;
}*/


h1 {
    font-size: 2em;
}

.top-bar {
    z-index: 11;
}

#alert-station {
    position: absolute;
    top: 50px;
    left: 20%;
    right: 20%;
    min-height: 50px;
    z-index: 99;
    margin: 0 auto;
}

/* Fix Padding on form in popover */
#search-popover-content form {
    margin: 0 0 5px;
}

#infobox-wrapper {
    display:none;
}

.infobox {
    border:2px solid black;
    margin-top: 8px;
    background: #333;
    color:#FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
    padding: 0.5em 0.25em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow:0 -1px #000000;
    -webkit-box-shadow: 0 0  8px #000;
    box-shadow: 0 0 8px #000;
}

