﻿<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />


    @Styles.Render("~/Content/appcss")
    @Styles.Render("~/Content/bootstrap")

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("headscripts", required:false)

</head>
<body>
    @RenderBody()


@*    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)

</body>
</html>